body {
	background: #e7e9ed;
	height: 100%;
}
.app {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	min-height: 100vh;
}
a {
	color: #1e87f0;
	text-decoration: none;
	border-bottom: 1px solid transparent;
}

.header-title {
	text-align: center;
	font-size: 2em;
	font-family: 'Roboto';
	margin: 2vh 0;
}
.score-title {
	text-align: center;
	font-size: calc(10px + 2vmin);
	font-family: 'Roboto';
	color: rgb(8, 42, 94);
}
.check {
	display: flex;
	align-items: center;
	justify-content: center;
}

.question-form .question-title {
	text-align: center;
	margin: 1.5vh 0;
}

div .main {
	text-align: center;
}
.main .form-group {
	padding: 10px 10px;
}
.form-group input {
	margin-right: 10px;
	align-items: center;
}
.form-group input[type='radio']:hover,
input[type='radio'] + label:hover {
	cursor: pointer;
	color: rgb(9, 143, 14);
}

.form-group input[type='radio']:checked + label {
	color: #4caf50;
	font-weight: bold;
}

.form-group input[type='radio']:after {
	border-radius: 15px;
	background-color: #18c118;
	border: 2px solid rgb(220, 20, 20);
}

.button {
	background-color: #4caf50;
	border: none;
	color: white;
	padding: 12px 26px;
	margin: 10px 10px;
	text-decoration: none;
	cursor: pointer;
	font-size: 1.2em;
}

.flag {
	display: flex;
	align-items: center;
	justify-content: center;
	max-height: 40vh;
	margin: auto;
	margin-top: 50px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	border-radius: 20px;
}
.button:hover {
	background-color: rgb(9, 143, 14);
}
.button:active {
	background-color: #ff9800;
}
footer {
	margin-top: 10vh;
	text-align: center;
	flex: 0 0 auto;
	margin-bottom: 2vh;
}

@media (max-width: 1000px) {
	.flag {
		max-width: 40%;
		max-height: auto;
	}
}
@media (max-width: 900px) {
	.flag {
		max-width: 40%;
		max-height: auto;
	}
}
@media (max-width: 800px) {
	.main {
		order: 2;
		margin-top: 1vh;
  }
  .question-form .question-title{
    padding-top: 4vh;
  }
  .question-form{
    display: flex;
    flex-direction: column;	
    align-items: stretch;
    order:2;
}
	.main form {
		display: flex;
		flex-direction: column;
	}
	.main button {
		margin: 4vh 0;
	}

	.main .form-group {
		padding: 1vh;
	}

	.flag {
		order: 0;
		max-width: 40%;
		max-height: auto;
		margin: 5vh auto 0;
	}
	footer {
		order: 2;
    margin-bottom: 0;
    margin-top: 2vh;
	}
}

@media (max-width: 500px){
	.flag {
		max-width: 50%;
		margin: 5vh auto 0;
	}
	footer {
    margin-top: 8vh;
	}
}