body{
  background: #e7e9ed;
height: 100%;
 
}
.app {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-height: 100%;
}
a{
    color: #1e87f0;
    text-decoration: none;
    border-bottom: 1px solid transparent;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.header-title{
  text-align: center;
  font-size: 2em;
  font-family: 'Roboto';
}
.score-title{
  text-align: center;
  font-size: 2em;
  font-family: 'Roboto';
  color: rgb(8, 42, 94);
}

.main{
  text-align: center;
  flex-grow: 1;
}
.main label{
  padding: 10px 10px;
}
input[type="radio"]:hover, input[type="radio"] + label:hover {
  cursor: pointer;
color: rgb(9, 143, 14);
}

input[type="radio"]:checked+label{
  color:#4CAF50;
  font-weight: bold;
}

input[type='radio']:after{
        border-radius: 15px;
        background-color: #18c118;
        border: 2px solid rgb(220, 20, 20);
}

.button{
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 12px 26px;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.2em;
}

.flag{
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 40%;
  max-height: 50%;
  margin: auto;
  margin-top: 50px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.button:hover{
background-color: rgb(9, 143, 14);
}
.button:active{
background-color: #ff9800;
}
footer{
  margin-top: 100px;
  text-align: center;
  flex: 0 0 auto;
}

@media (max-width: 1000px){
.flag{
    max-width: 50%;
  max-height: 60%;
}
}
@media (max-width: 700px){
  .main{
    order:1;
  }
  .main form{
    display: flex;
    flex-direction: column;
  }
  .main form label{
    align-self: stretch;
    padding-top: 10px;
  }

.flag{
  order:0;
  max-width: 60%;
  max-height: 70%;
  margin-top: 10px;
  margin-bottom: 10px;
}
  footer{
    order:2;
  }
}